body{
  margin-top: 4%;
  background-color: black;
  display: flex;
  color: white;
}

.partie__gauche{
  flex-basis: 30%;
  flex-grow: 1;
  margin: 0 2%;
}

.partie__droite{
  flex-basis: 70%;
}

main{
  display: flex;
  flex-wrap: wrap;
}


/* Cart */
.album{
  flex-basis: 18%;
  margin-right: 2%;
  margin-top: 2%;
  padding-top: 1%;
  background-color: #242424;
  color: white;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.album:hover{
  background-color: #3b3b3b;
}

.album img{
  border-radius: 10px;
  height: 12.5rem;
  box-shadow: 0px 0px 50px -10px #FFFFFF;
}


.contenu{
  text-align: start;
  padding: 5%;
  font-size: 75%;
}

/* Pour cacher les éléments non recherchés */
.hidden {
  display: none;
}


/* Pour la barre de recherche */
.barre__recherche{
  display: flex;
  width: 20rem;
  height: auto;
  background-color: #242424;
  border: var(--valeur-bordure-input) solid #242424;
  padding: .6%;
  border-radius: 10rem;
  box-sizing: border-box;
}

.barre__recherche:hover{
  background-color: #3b3b3b;
  border: var(--valeur-bordure-input) solid #a8a8a8;
}

.barre__recherche__input{
  background-color: transparent;
  border: none;
  width: 100%;
  color: white;
}

.barre__recherche__input::placeholder{
  color : #757270;
}

.barre__recherche__input:focus{
  outline: none;
}

.barre__recherche i{
  color: rgba(255, 255, 255, 0.637);
  padding: 0.5rem;
}


/* Pour le filtre */
.recherche-approfondis{
  display: flex;
  width: 20%;
  justify-content: space-between;
  margin-top: 2%;
}

.recherche-approfondis button{
  background-color: #242424;
  border: var(--valeur-bordure-input) solid #242424;
  padding: 2% 5%;
  border-radius: 10rem;
  box-sizing: border-box;
  color: white;
  transition: all 0.3s ease-in-out;
}

.recherche-approfondis button:hover{
  background-color: #3b3b3b;
  border: var(--valeur-bordure-input) solid #a8a8a8;
}



/* Pour la partie gauche */

.jenesaispas{
  background-color: #242424;
  border-radius: 10px;
  height: 15rem;
}

.liste__playlist{
  padding-top: 2%;
  margin-top: 2%;
  background-color: #242424;
  border-radius: 10px;
}

.ajout__playlist{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}

.liste__playlist h2{
  margin: 0;
}

.liste__playlist ul{
  padding: 0;
}

.liste__playlist li{
  display: flex;
  align-items: center;
  padding: 2%;
  list-style: none;
}

.liste__playlist li:hover{
  background-color: #3b3b3b;
  border-radius: 10px;
}

.liste__playlist li img{
  height: 2rem;
  margin-right: 2%;
}